@use "sass:color";

//################ FONTS ################
$font-family-sans-serif: "Onest", sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

//################ COLORS ################
$color_navy: #1f31a8;
$color_blue: #4b91f1;
$color_yellow: #f3c623;
$color_orange: #eb8317;
$color_grey: #f4f6ff;
$color_white: #ffffff;
$bg_web: color.scale($color_blue, $lightness: 95%);

//################ MEDIA QUERIES ################

$mqMinWidth: 420px;
$mqMinWidth800px: 800px;
$mqMinWidth992px: 992px;
$mqMinWidth1200px: 1200px;

$box-shadow: 5px 7px 5px 1px rgba($color_navy, 0.60);