@mixin flex($direction: row, $justify: center, $align: center, $content: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    align-content: $content;
}