.footer {
    background-color: $color_navy;
}

.footer__container {
    @include flex(row, center, center, center);
    padding: 1rem 0;
    max-width: 100%;
    margin: auto;

    @media screen and (min-width: 800px) {
        & {
            max-width: 80%;
            flex-direction: column;
            align-content: space-between;
        }
    }
}