.footer {
    background-color: $color_navy;
    color: $color_white;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 2rem;

    a {
        color: $color_white;

        &:hover {
            color: $color_yellow;
        }
    }

    &__container {
        @include flex(column, center, center, center);
        padding: 1rem 0;
        max-width: 90%;
        margin: auto;

        @media screen and (min-width: $mqMinWidth800px) {
            max-width: 80%;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__medias {
        @include flex(row, space-around, center, center);
        padding: 0;
        list-style: none;
        gap: 2rem;
    }
}