<footer class="footer">
  <a class="" href="index.html">
    <img src="assets/images/logo.svg" alt="Logo de la web" width="250" />
  </a>
  <div class="">
    &copy; Universitat Oberta de Catalunya<br />
    Alex Ramos da Fonte
  </div>
  <div class="footer__redes">
    <ul class="redes__lista">
      <li>
        <a href="https://github.com/AlexFonte/uoc-herramientas-2" hreflang="es" title="Github"
          aria-label="Ir a Github"><i class="fa-brands fa-github"></i></a>
      </li>
      <li>
        <a href="#" hreflang="es" title="Facebook" aria-label="Ir a Facebook"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="#" hreflang="es" title="Twitter" aria-label="Ir a Twitter"><i class="fa-brands fa-x-twitter"></i></a>
      </li>
      <li>
        <a href="#" hreflang="es" title="Instagram" aria-label="Ir a Instagram"><i
            class="fa-brands fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</footer>