<header class="header">
  <nav class="nav">
    <div class="nav__content">

      <a href="index.html">
        <img src="assets/images/logo.svg" alt="Logo de la web" width="300" />
      </a>
    </div>
  </nav>

  <div class="header__content">
    <h1 class="header__title">Bacalhau à Moda de Viana do Castelo</h1>
    <p>El <q><b><em>Bacalhau à Moda de Viana do Castelo</em></b></q> es un plato tradicioanl de <b>Viana do Castelo</b>,
      la ciudad mas
      al norte de Portugal, que se situa en la región de <b>Minho</b>. El plato destaca por su sencilla preparación
      pero un gran sabor, un bacalao bacalao confitado con cebolla, acompañado de patatas, pan de maiz frito y col
      salteada.</p>
    <ul>
      <li><span>4 Personas</span></li>
      <li><span>40 min</span></li>
      <li><span>Plato principal</span></li>
      <li><span>Fácil</span></li>
    </ul>
  </div>

</header>