<header class="header">
  <nav class="nav">
    <div class="nav__content">

      <a class="svg" href="index.html">
        <img src="assets/images/logo.svg" alt="Logo de la web" width="300" />
      </a>
    </div>
  </nav>

  <div class="header__content">

    <picture class="header__picture">
      <source srcset="assets/images/viana.jpg?as=webp" type="image/webp" />
      <img src="assets/images/viana.jpg" alt="Vista panorámica de Viana do Castelo" width="100%" height="300"
        class="header__image">
    </picture>

    <div class="header__resume">
      <h1 class="header__resume__title"><q>Bacalhau à Moda de Viana</q></h1>

      <div class="header__info">

        <p>El <q><b><em>Bacalhau à Moda de Viana do Castelo</em></b></q> es un plato tradicional de <b>Viana do
            Castelo</b>,
          la ciudad mas
          al norte de Portugal, que se situa en la región de <b>Minho</b>. El plato destaca por su sencilla preparación
          pero un gran sabor, un bacalao confitado con cebolla, acompañado de patatas, pan de maiz frito y col
          salteada.</p>
        <ul class="header__list">
          <li class="box__white hvr-grow"><i class="fa-solid fa-utensils fa-xl"></i><span><b>4 Personas</b></span></li>
          <li class="box__white hvr-grow"><i class="fa-regular fa-clock fa-xl"></i><span><b>40 minutos</b></span></li>
          <li class="box__white hvr-grow"><i class="fa-solid fa-signal fa-xl"></i><span><b>Fácil</b></span></li>
        </ul>
      </div>
    </div>

  </div>

</header>